<!DOCTYPE html>
<html>
<head>
    <title>Stormpath - Git Me</title>
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/jumbotron-narrow.css" rel="stylesheet">
</head>
 <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Git Me</a></li>  
          <li><a href="http://www.stormpath.com/">Website</a></li>
          <li><a href="http://docs.stormpath.com/">Docs</a></li>
          <li><a href="http://stormpath.com/pricing">Pricing</a></li>
        </ul>
        <h3 class="text-muted">Stormpath</h3>
      </div>

      <div class="jumbotron">
        <h1>Git Over Here!</h1>
        <p class="lead"><%= yield %></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>User and Group Management</h4>
          <p>Create and manage user directories, accounts, and groups through our web console or REST+JSON API. Stormpath hosts and secures all your user credentials.</p>

          <h4>Automated Authentication</h4>
          <p>Authenticate users to cloud or on-premise directories with a simple API call. Automate access to your application with straightforward infrastructure</p>
        </div>

        <div class="col-lg-6">
          <h4>User Security Workflows</h4>
          <p>Stormpath offers plug and play password reset, account registration, account verification, locking, and disabling workflows.</p>

          <h4>Integrations</h4>
          <p>Developers can connect directly with our open API from any language platform, security framework, or gem. Wrapper SDKs are available for Java, Python, Ruby, and PHP.</p>

        </div>
      </div>

      <div class="footer">
        <p>&copy; Stormpath, 2013 <span style="font-size: 8px;">through to Logan's Run (at least)</span></p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>   
</body>
</html>