<p><span style="color: red;">Doh! You hit a <b>500</b>. Dude. What are you doing? Honestly, trying to break our form at a convention? Are you in QA?</span></p>
<button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: -30px;" onclick="window.location='/'">I'll be better, honest</button>

