
<p>Worthy of our super sweet swag?<br />Prove it with your Github handle!</p>
<p>&nbsp;</p>
<form class="form-signin" action="/process" method="POST">
    <input type="text" class="form-control" placeholder="Type your Github handle here" name="github_handle" autofocus><br />
    <button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-top: -30px;">Git me some swag!</button>
</form>

