
<p>Want one of our super sweet swag? We'll trade you for your Github handle (even if all your repos house spaghetti code).</p>
<p>&nbsp;</p>
<form id="github_lead_form" class="form-signin" action="/process" method="POST">
    <input type="text" class="form-control" placeholder="Type your Github handle here" name="github_handle" autofocus><br />
    <button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-top: -30px;">Git me some swag!</button>
</form>

